<h1>Posts</h1>

<div>
  <div {{bind-attr class="errors.title:error"}}>
    {{input type="text" placeholder="Title?" value=newTitle}}
    {{#if errors.title}}
      {{errors.title}}
    {{/if}}
  </div>

  <div {{bind-attr class="errors.body:error"}}>
    {{input type="text" placeholder="Body?" value=newBody}}
    {{#if errors.body}}
      {{errors.body}}
    {{/if}}
  </div>

  <button {{action createPost}}>Save</button>
</div>

<ul>
  {{#each}}
    <li>
      {{#linkTo "post" this}}
        {{title}}
      {{/linkTo}}
    </li>
  {{else}}
    <li>
      There are no posts.
    </li>
  {{/each}}
</ul>

{{outlet}}