{{#if isEditing}}
  <h2>Edit Post</h2>
  <div {{bind-attr class="errors.title:error"}}>
    {{input class="edit" value=title}}
    {{#if errors.title}}
      {{errors.title}}
    {{/if}}
  </div>
  <div {{bind-attr class="errors.body:error"}}>
    {{input class="edit" value=body}}
    {{#if errors.body}}
      {{errors.body}}
    {{/if}}
  </div>
  <button {{action "acceptChanges"}}>Save</button>
  <button {{action "cancelEditing"}}>Cancel</button>
{{else}}
  <h2>Show Post</h2>
  <h1>{{title}}</h1>
  <p>{{body}}</p>
  <button {{action "editPost"}}>Edit</button>
  <button {{action "removePost"}}>Delete</button>
{{/if}}

